<div class="video__wrapper {{uniq_class}}">
    <video class="video_mp4" autoplay="false" loop="false" controls>
        <source src="{{video_url}}" type="video/mp4">
    </video>
    <div class="exit-ambassador">&times;</div>
</div>
